<h1>Sortodo</h1>
<p>This is the sortodo homepage!</p>

<h3>Here are your notebooks:</h3>
<ul>
<% @notebooks.each do |notebook| %>
  <li><%= notebook.name %></li>
  <ul>
    <% @tasks.each do |task| %>
      <% if task.notebook_id == notebook.id %>
        <li><%= task.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
</ul>