<div id="main">
  <div id="nav"></div>

  <div class="row">
    <div id="notebook" class="col-md-2"></div>
    <div id="content" class="col-md-10"></div>
  </div>

</div>

<script id="navView" type="text/template">
  <%= link_to('Home', app_path) %> | 
  <%= link_to('Log Out', root_path, :method => :delete, :confirm => 'Are you sure?') %>
</script>

<!-- <script id="notebookView" type="text/template"> 
  <h3>All Tasks</h3>
</script> -->

<script id="notebookListTemplate" type="text/template">
  <h3>{{ name }}</h3>
</script>

<script id="contentView" type="text/template">
  <h3>This is where the content goes.</h3>
</script>

<script id="notebookTasksView" type="text/template">
  <h3>{{ name }}</h3>
</script>

<script id="allTasksView" type="text/template">
  <h3>All Tasks</h3>
</script>

<script id="notebookTasksTemplate" type="text/template">
  <!-- This is where the name of the notebook is displayed in the content section -->
  <h1>{{name}}</h1>
</script>

<script id="taskListTemplate" type="text/template">
  <h3>{{ name }}</h3>
</script>