<link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="phaseBackground"></div>

<div class="overlay">
  <div class="middleOverlay">
    <div class="editTask">
    </div>
  </div>
</div>


<div id="main">
  <div class="row">
  <div id="nav" class="col-md-2"></div>
  <div id="status" class="col-md-10"><p>Status Bar</p></div>
  </div>

  <div class="row">
    <div id="notebook" class="col-md-2"></div>
    <div id="content" class="col-md-10"></div>
  </div>

</div>

<script id="navView" type="text/template">
  <span><i class="fa fa-check-circle-o"></i> Sortodo</span>
  <%= link_to('Home', app_path) %>
  <%= link_to('Log Out', root_path, :method => :delete, :confirm => 'Are you sure?') %>
</script>

<script id="showTaskWindow" type="text/template"> 
  <!-- This is the pop-up window when you select a task. -->
  <h3>{{ name }}</h3>
  <p>Priority: {{ priority }}</p>
  <p>Location: {{ location }}</p>
  <button id="closeOverlay">Close Window</button>
  <button id="editTaskButton">Edit Task</button><br>
  <button id="deleteTaskButton">Delete Task</button>
</script>

<script id="editTaskWindow" type="text/template">
  <!-- This is the pop-up window when you select the edit button from the show task window. -->
  <h3>Edit Task</h3>
  <div class="field">Name: <input type="text" value="{{name}}" name="name"></div><br>
  <div class="field">Priority: 
  <select>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4" seleted>4</option>
  </select>
  </div><br>
  <div class="field">Location: <input type="text" value="{{location}}"></div><br>
  <!-- TODO: Figure out how do the tags ub gere... -->
  <button id="closeOverlay">Close Window</button>
  <!-- TODO: Make the below button actually work... -->
  <button id="updateTask">Update Task</button>
</script>

<script id="showNotebookWindow" type="text/template">
  <!-- This is the pop-up window when you select the notebook in the main content view. -->
  <h3>{{ name }}</h3>
  <p>color: {{ color }}</p>
  <button id="closeOverlay">Close Window</button>
  <button id="editNotebookButton">Edit Notebook</button><br>
  <button id="deleteNotebookButton">Delete Notebook</button>
</script>

<script id="notebookListTemplate" type="text/template">
  <h3>{{ name }}</h3>
</script>

<script id="addNewNotebookTemplate" type="text/template">
  <h3><strong>+ Add a notebook</strong></h3>
</script>

<script id="addNewNotebookWindowTemplate" type="text/template">
  <h3>Add New Notebook</h3>
  <div class="field">Name: <input type="text" name="name" class="name"></div><br>
  <div class="field">Color: <input type="color" class="color"></div><br>
  <button id="addNotebook">Add Notebook</button>
  <button id="closeOverlay">Close Window</button>
</script>

<script id="contentView" type="text/template">
  <h3>This is where the content goes.</h3>
</script>

<script id="notebookTasksView" type="text/template">
  <h3>{{ name }}</h3>
</script>

<script id="allTasksView" type="text/template">
  <h3>All Tasks</h3>
</script>

<script id="allTasksTemplate" type="text/template">
  <h1>All Tasks:</h1>
  <div class="row">
    <div class="priorities" id="one"><p>Priority 1:</p></div>
    <div class="priorities" id="two"><p>Priority 2:</p></div>
    <div class="priorities" id="three"><p>Priority 3:</p></div>
    <div class="priorities" id="four"><p>Priority 4:</p></div>
  </div>
</script>

<script id="notebookTasksTemplate" type="text/template">
  <!-- This is where the name of the notebook is displayed in the content section -->
  <h1>{{ name.toUpperCase() }}</h1>
</script>

<script id="notebookTasksSetupTemplate" type="text/template">
  <div class="row">
    <div class="priorities" id="one"><p>Priority 1:</p></div>
    <div class="priorities" id="two"><p>Priority 2:</p></div>
    <div class="priorities" id="three"><p>Priority 3:</p></div>
    <div class="priorities" id="four"><p>Priority 4:</p></div>
  </div>
</script>

<script id="addNewTaskTemplate" type="text/template">
  <h3><strong>+ Add a new task</strong><h3>
</script>

<script id="addNewTaskWindowTemplate" type="text/template">
  <h3>Add a new Task:</h3>
  <div class="field">Name: <input type="text" name="name" class="name"></div><br>
  <div class="field">Priority: 
  <select class="priority">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  </div><br>
  <div class="field">Location: <input type="text" class="location"></div><br>
  <button id="addTask">Add Task</button>
  <button id="closeOverlay">Close Window</button>
</script>

<script id="taskListTemplate" type="text/template">
  <h3>{{ name }}</h3>
</script>