<div id="main">
  <div id="nav"></div>
  <div id="notebook"></div>
  <div id="content"></div>
</div>

<script id="navView" type="text/template">
  <li><%= link_to('Home', root_path) %></li>
  <li><%= link_to('Log Out', root_path, :method => :delete, :confirm => 'Are you sure?') %></li>
</script>

<script id="notebookView" type="text/template"> 
  <h3>This is where the notebooks go.</h3>
</script>

<script id="contentView" type="text/template">
  <h3>This is where the content goes.</h3>
</script>