// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phaseBackground {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: .5;
  z-index: 1;
}

.overlay {
  background-color: white;
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 100;
  margin: 0 auto;
  margin-left: -240px;
  border: 1px solid black; 
} 

.middleOverlay {
  width: 480px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 80px 10px 80px;
}

.editTask {
  z-index: 500;
}

#closeOverlay {
  margin-bottom: 20px;
}

#main {
  max-width: 100%;
}

#nav {
  height: 5vh;
  min-height: 40px;
  background-color: rgba(60,179,113,0.8);
  vertical-align: middle;
  a, span {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 5vh;
  }
  span {
    font-size: 22px;
  }
}

#status {
  height: 5vh;
  min-height: 40px;
  background-color: rgba(60,179,113,0.8);
  color: black;
  p {
    margin-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#notebook {
  height: 95vh;
  min-width: 279.984375px;
  padding: 0;
  background-color: #121F1F;
  opacity: 0.8;
  color: white;
}

#notebook div:first-child {
  margin-top: 20px;
}

#notebook div {
  margin: 0 auto;
  height: 5rem;
  width: 25rem;
  border: 1px solid white;
  margin-bottom: 12px;
  // overflow: hidden;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; 
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#notebook div:hover {
  background-color: white;
  color: black;
}

#content {
  height: 95vh;
  padding: 0;
  div:first-child {
    margin-left: 20px;
    h1 {
      font-family: 'Rokkitt', serif;
      font-size: 46px;
    }
  }
  .priorities {
    height: 500px;
    width: 300px;
    max-width: 250px;
    display: inline-block;
    overflow: scroll;
    border-right: 1px solid rgba(0,0,0,0.3);
    div {
      margin-left: 10px;
      margin-right: 10px;
    }
    p {
      text-align: center;
    }
  }
  .priorities:last-child {
    border: 0;
  }
  div:last-child h3 strong {
    margin-left: 20px;
    font-family: 'Rokkitt', serif;
  }
}